.index {
  width: 90%;
  margin: 20px auto;

  .components-page {
    width: 680px;
  }

  .index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-left {
      display: flex;
      flex-direction: column;

      .header-top {
        width: 160px;
        height: 30px;
        background-color: #ffc3c3;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      .header-left-zh {
        font-size: 55px;
        font-weight: bold;
        margin-top: 20px;
      }

      .header-left-en {
        font-size: 40px;
        font-weight: bold;
        color: #ffc3c3;
        margin-left: 30px;
        margin-top: 10px;
      }
    }

    .meLogo {
      width: 300px;
      height: 300px;
    }
  }

  .index-banner-1 {
    width: 100%;
    height: 450px;
    margin: 30px auto;

    .index-banner-1-me {
      width: 100%;
      height: 100%;
    }
  }

  .index-banner-5 {
    width: 100%;
    height: 620px;
    margin: 60px auto;
    position: relative;

    .index-banner-5-me {
      width: 300px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      overflow: hidden;
    }

    .index-banner-5-1-me {
      width: 300px;
      height: 100%;
      position: absolute;
      top: 260px;
      left: 200px;
      box-shadow: 4px 4px 58px #888;
      border-radius: 10px;
      overflow: hidden;
    }

    .index-banner-5-2-me {
      width: 300px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 400px;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  .index-banner-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px auto 30px;

    .index-banner-box {
      width: 300px;
      // height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .index-banner-2-me {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
      }

      .index-banner-2-title {
        font-size: 35px;
        margin-bottom: 20px;
        display: flex;
      }

      .index-banner-2-des {
        font-size: 25px;
        display: flex;
        line-height: 60px;
        color: rgb(84, 84, 84);
      }
    }
  }

  .index-banner {
    width: 100%;
    height: 300px;
    background-color: rgb(155, 155, 155);
    margin-bottom: 10px;
  }

  .index-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    .head-title-two {
      font-size: 40px;
      font-style: italic;
      margin-top: 50px;
    }

    .head-title-two-en {
      font-size: 40px;
      margin-bottom: 30px;
      font-style: italic;
      color: #cda02e;
    }

    .head-des-en {
      color: rgb(84, 84, 84);
      line-height: 80px;
      font-size: 26px;
    }

    .head-title {
      font-size: 40px;
      margin: 20px 0 30px;
      text-decoration: rgb(255, 66, 66) wavy underline;
    }

    .head-des {
      color: rgb(84, 84, 84);
      line-height: 80px;
      font-size: 30px;
    }

    .head-xi {
      color: rgb(188, 36, 36);
      font-size: 100px;
      font-weight: bold;
      margin-top: 80px;
    }

    .head-des-2 {
      line-height: 50px;
      font-size: 30px;
      color: rgb(84, 84, 84);
      line-height: 60px;
    }

    .head-des-tip {
      font-size: 25px;
      color: rgb(84, 84, 84);
      font-style: italic;
      margin-top: 30px;
      text-align: center;
    }

    .head-des-location {
      font-size: 25px;
      color: rgb(84, 84, 84);
    }

    .head-des-title {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 45px;
      font-weight: bold;
      color: rgb(84, 84, 84);
    }

    .map {
      margin: 20px auto;
    }
  }

  .index-ye-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .index-left-img {
      width: 305px;
    }

    .index-ye {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 455px;

      .index-ye-img {
        width: 330px;
      }
    }
  }

  .index-right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 120px 0;

    .head-des {
      color: rgb(84, 84, 84);
      line-height: 80px;
      font-size: 30px;
    }

    .head-des-en {
      color: rgb(84, 84, 84);
      line-height: 80px;
      font-size: 26px;
    }
  }

  .index-zhu-box {
    .index-zhu-img {
      width: 680px;
      height: 1000px;
    }
  }


  .index-left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 120px 0;

    .head-des {
      color: rgb(84, 84, 84);
      line-height: 80px;
      font-size: 30px;
    }
  }

  .index-heng {
    display: flex;
    flex-direction: column;
    align-items: center;

    .index-heng-me {
      width: 690px;
    }
  }

  .index-shu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .index-shu-me {
      width: 200px;
      height: 300px;
    }
  }

  .index-showtime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .head-des-title {
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: bold;
      color: rgb(84, 84, 84);
    }

    .index-showtime-head {
      width: 100px;
      height: 100px;
    }

  }

}
